// ======================================
//  Variables
// ======================================

// Fonts
$font-stack: 'Open Sans', sans-serif;  

//Colors
$white: #fff;
$background-color: #dadde0;

$color-text: darken($background-color, 80%);

//Layout

//Breakpoints