// ======================================
//  Variables
// ======================================

// Fonts
$font-stack: 'Open Sans', sans-serif;
$font-size-body: .8rem;
$font-size-title: .9rem;
$font-size-subtitle: .7rem;

//Colors
$white: #fff;
$background-color: #dadde0;
$bar-color: #1696e5;
$color-primary: #009dff;
$color-secondary: #495b66;

/*$color-text: darken($background-color, 80%);*/
$color-text-dark: #495b66;
$color-text-light: lighten($color-text-dark, 25%);

//Layout

//Breakpoints
