// ======================================
//  Layout Container Styles
// ======================================

// Main Card
.main-card {
	/*position: relative;*/
	margin: auto;
	background-color: $white;
	/*border: 1px solid $background-color;*/
	border-radius: 5px;
	min-width: 745px;
	max-width: 1250px;
	height: 500px;
}

// Card components layout
.flex-container {
	display: flex;
}

.column {
	flex-basis: 50%;
	flex-grow: 1;
	border-right: 1px solid $background-color;
}

.tab-bar {
	display: flex;
	line-height: 2.5em;
	border-bottom: 1px solid $background-color;
}

.tab {
	flex-direction: row;
	flex-grow: 1;
	text-align: center;
}

.row {
	border-bottom: 1px solid $background-color;
	line-height: 2em;
	padding: 10px 20px;
/*	align-items: center;*/
}

.box {
	flex-grow: 1;
	padding-right: 1em;
}

.stat-row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.audience-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.avatar-list {
	display: flex;
	align-items: center;
	/*margin-right: 20px;*/
}
