// ======================================
//  Base Styles
// ======================================

* {
  box-sizing: border-box;
}

body {
	/*box-sizing: border-box;*/
	background-color: $background-color;
	font-size: .8rem;
	/*line-height: 1.5;*/
	font-family: $font-stack;
	font-weight: 400;
	color: #495b66;
	text-align: left;
	margin: auto;
	padding: 30px;
}

.title {
	width: 100%;
	display: block;
}